<div>
  <img
    src="https://upload.wikimedia.org/wikipedia/commons/thumb/c/c0/1_times_square_night_2013.jpg/1920px-1_times_square_night_2013.jpg">
  <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nemo saepe blanditiis et at, quia voluptatum officia vero
    laudantium, doloribus eaque rerum cum voluptate libero mollitia sint soluta magni atque. Adipisci placeat officiis
    odit nam fugiat dolorum dolores et delectus laborum amet doloribus neque nisi quibusdam molestiae ullam natus
    nesciunt quod asperiores, iste, ex repellat, accusamus provident vitae quaerat! Explicabo consectetur dolorem fuga,
    soluta minima sit quod debitis, eaque accusantium vel, eligendi dolor aliquid cumque. Laboriosam incidunt officiis
    dolorem quis ut amet autem aliquam minima maxime rem optio sapiente, corrupti suscipit et a ipsum itaque fugit fuga
    animi possimus minus. Id.</p>
</div>
